AnchorPane {
    -fx-background-color: #ffffff;
}

TextField, PasswordField, DatePicker {
    -fx-background-radius: 8;
    -fx-border-radius: 8;
    -fx-font-size: 16;

    -fx-pref-height: 48;
}

TextField::placeholder, PasswordField::placeholder {
    -fx-font-size: 16;
    -fx-text-fill: #828282;
}

Button {
    -fx-font-size: 16;
    -fx-cursor: hand;
    -fx-font-weight: bold;
}

